# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist
.firebaserc
database.rules.json
firebase.json
firestore.indexes.json
firestore.rules
storage.rules
functions/index.js
functions/package-lock.json
functions/package.json
public/index.html
